---
import '../styles/global.css';
import '@fontsource-variable/arimo';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/header.webp" />
		<link rel="icon" type="image/png" href="/header.png" />
		<link rel="alternate icon" href="/header.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Chorus Symphonia</title>
	</head>
	<body class="bg-ivoir">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
